@model WebSites.Panles.Models.Reports.GetOrderInfoWithItems

@{
    ViewData["Title"] = "GetOrderForDefineSafirDetails";
    Layout = "~/Areas/Stores/Views/Shared/_Layout.cshtml";
}

<div class="card ">
    <div class="card-body" style="overflow:auto; outline: none;">
        @if (Model != null)
        {
            @if (Model.OrderInfo != null)
            {
                <div class="col col-12 col-md-12 col-sm-12 m-2">
                    <div class="row">
                        <div class="col col-12 col-md-12 col-sm-12 border-bottom">
                            فروشگاه: @Model.OrderInfo.StoreName
                        </div>
                        <div class="col col-8 col-md-8 col-sm-12 col-lg-6">
                            خریدار: @Model.OrderInfo.CustomerName
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12 col-lg-6 ">
                            <label class="border-right text-left">شماره سفارش: @Model.OrderInfo.OrderCode</label><br />
                            <label class="border-right text-left">تاریخ سفارش: @Model.OrderInfo.OrderDate.ToPersianDate()</label><br />
                            <label class="border-right text-left">ساعت سفارش: @Model.OrderInfo.OrderTime</label>
                        </div>
                        <div class="col col-8 col-md-8 col-sm-12 col-lg-6">
                            <label class="text-wrap">آدرس: @Model.OrderInfo.AddressValue</label>
                        </div>
                        <div class="col col-4 col-md-4 col-sm-12 col-lg-6 ">
                            <label class="text-wrap border-right  text-left">بازه زمانی تحویل: @Model.OrderInfo.StartTime-@Model.OrderInfo.EndTime</label>

                        </div>
                    </div>
                </div>
            }
            @if (Model.OrderItems != null)
            {
                <div class="table-responsive" tabindex="1" style="overflow:auto; outline: none;">
                    <table class="table table-striped table-hover mg-b-0 text-md-nowrap">
                        <thead>
                            <tr>
                                <th rowspan="1" colspan="1">#</th>
                                <th rowspan="1" colspan="1">محصول</th>
                                <th rowspan="1" colspan="1">برند</th>
                                <th rowspan="1" colspan="1">دسته بندی محصول</th>
                                <th rowspan="1" colspan="1">تعداد</th>
                                <th rowspan="1" colspan="1">فی</th>
                                <th rowspan="1" colspan="1">تخفیف</th>
                                <th rowspan="1" colspan="1">مالیات</th>
                                <th rowspan="1" colspan="1">جمع کل</th>
                                <th rowspan="1" colspan="1">وضعیت</th>
                                <th rowspan="1" colspan="1">توضیحات</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.OrderItems.Count > 0)
                            {
                                int row = 0;
                                @foreach (var item in Model.OrderItems)
                                {
                                    string count = item.Quantity > 0 ? item.Quantity.ToString("#,#") : "0";
                                    var sum = (item.Quantity * item.UnitPrice) + item.TaxPrice - item.DiscountPrice;
                                    row++;

                                    <tr role="row">
                                        <td>@row</td>
                                        <td>@item.DisplayName</td>
                                        <td>@item.BrandName</td>
                                        <td>@item.CategoryName</td>
                                        <td>@count</td>
                                        <td>@item.UnitPrice.ToString("#,#")</td>
                                        <td>@item.DiscountPrice.ToString("#,#")</td>
                                        <td>@item.TaxPrice.ToString("#,#")</td>
                                        <td>@sum.ToString("#,#")</td>
                                        <td>@item.StatusName</td>
                                        <td>@item.Description</td>

                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8" class="text-left">تعداد کالا</td>
                                <td colspan="3" class="text-right">@Model.OrderItems.Select(p => p.Quantity).Sum().ToString("#,#")</td>
                            </tr>
                            <tr>
                                <td colspan="8" class="text-left">جمع کالا</td>
                                <td colspan="3" class="text-right">@Model.OrderInfo.TotalPrice.ToString("#,#")</td>
                            </tr>
                            <tr>
                                <td colspan="8" class="text-left">جمع تخفیف</td>
                                <td colspan="3" class="text-right">@Model.OrderInfo.DiscountPrice.ToString("#,#")</td>
                            </tr>
                            <tr>
                                <td colspan="8" class="text-left">جمع مالیات</td>
                                <td colspan="3" class="text-right">@Model.OrderInfo.TaxPrice.ToString("#,#")</td>
                            </tr>
                            <tr>
                                <td colspan="8" class="text-left">کرایه حمل</td>
                                <td colspan="3" class="text-right">@Model.OrderInfo.ShippingPrice.ToString("#,#")</td>
                            </tr>
                            <tr>
                                <td colspan="8" class="text-left">مبلغ قابل پرداخت</td>
                                <td colspan="3" class="text-right">@Model.OrderInfo.FinalPrice.ToString("#,#")</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            }
        }
        else
        {
            <h6 class="text-danger">اطلاعات برای نمایش وجود ندارد</h6>
        }
    </div>
    <hr class="border-danger" />
    <div class="crad-body">
        <h5 class="card-title mg-b-20 mr-2">تخصیص سفیر</h5>
        <hr class="bg-danger border-danger" />
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" style="overflow:auto; outline: none;">
                @if (Model != null)
                {
                    @if (Model.OrderInfo != null)
                    {

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto d-block">
                                <div class="card card-body pd-20 pd-md-40 border shadow-none">

                                    <input name="@Model.OrderInfo.Id" type="hidden" />
                                    <input name="@Model.OrderInfo.OrderCode" type="hidden" />

                                    <div class="form-group">
                                        <label class="control-label">کاربر سفیر</label>
                                        <select name="userId" id="userId" class="form-control select2" required asp-items="ViewBag.UserList" onchange="getUserActivate()">
                                            <option selected value="" data-select2-id="">انتخاب کنید</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <input type="button" value="ثبت اطلاعات" class="btn btn-danger btn-block" onclick="registerSafir('@Model.OrderInfo.OrderCode')" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }

            </div>
            <div id="UserActivity" class="col-sm-12 col-md-6 col-lg-8 col-xl-8 mx-auto d-block" style="overflow:auto; outline: none;">

            </div>
        </div>
    </div>

    <div class="card-footer">
        <a class="btn btn-outline-primary" href="/Stores/Orders/GetAcceptOrder">بازگشت</a>
    </div>
</div>

@section Scripts
{
    <script>

        function getUserActivate() {
            'use strict'

            let userId = $('#userId').val();

            if (userId == 0 || userId == null || userId == "") {
                swal.fire(
                    'هشدار!',
                    'کاربر را انتخاب کنید',
                    'warning'
                );
                return;
            }
            //alert(userId);
            $('#UserActivity').html('');

            var postData = {
                'userId': userId,
            };

            $.ajax({
                //contentType: 'application/x-www-form-urlencoded',
                //dataType: 'json',
                type: "Post",
                url: "/Stores/Orders/GetUserActivity",
                data: postData,
                success: function (data) {
                    $('#UserActivity').html(data);
                },
                error: function (request, status, error) {
                    hideBehsamLoading();
                }

            });
        }

        function registerSafir(id) {

            let userId = $('#userId').val();

            if (userId == 0 || userId == null || userId == "") {
                swal.fire(
                    'هشدار!',
                    'کاربر سفیر را انتخاب کنید',
                    'warning'
                );
                return;
            }


            var postData = {
                'orderCode': id,
                'userId': userId
            };

            swal.fire({
                title: 'تایید',
                text: "آیا از تخصیص سفیر مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله، تایید شود',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        //contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Stores/Orders/DefineSafir",
                        data: postData,
                        beforeSend: function () {
                            showBehsamLoading();
                        },
                        complete: function () {
                            hideBehsamLoading();
                        },
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    'با موفقیت انجام شد',
                                    'success'
                                ).then(function (isConfirm) {
                                    location.replace('/Stores/Orders/GetOrderForDefineSafir');
                                });
                            }
                            else {
                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );
                            }
                        },
                        error: function (request, status, error) {
                            hideBehsamLoading();
                        }, async: false

                    });

                }
            });
        }

    </script>
}
