@{
    Layout = null;

}

@model Models.Customer.CustomerInfoModel

    @if (Model != null)
    {
        <div class="row row-sm">
            <div class="col-lg-3">
                <div class="card mg-b-20">
                    <div class="card-body">
                        <div class="pl-0">
                            <div class="main-profile-overview">
                                <div class="main-img-user profile-user">
                                    @if (Model.Sex == 9)
                                    {
                                        <img alt="" src="~/admin/Content/assets/img/faces/mens.png">
                                    }
                                    else
                                    {
                                        <img alt="" src="~/admin/Content/assets/img/faces/women.png">
                                    }

                                    <a class="fas fa-camera profile-edit" href="JavaScript:void(0);"></a>
                                </div>
                                <div class="d-flex justify-content-between mg-b-20">
                                    <div>
                                        <h5 class="main-profile-name">@Model.CustomerName</h5>
                                        <p class="main-profile-name-text"><span class="text-info">کد اشتراک: </span> @Model.CustomerCode</p>
                                    </div>
                                </div>
                                <hr class="mg-y-30">
                                <label class="main-content-label tx-13 mg-b-20">شماره تماس پیش فرض</label>
                                <div class="main-profile-social-list">
                                    <div class="media">
                                        <div class="media-icon bg-primary-transparent text-primary">
                                            <i class="icon bx-phone"></i>
                                        </div>
                                        <div class="media-body">
                                            <span>@Model.DefaultMobile</span>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- main-profile-overview -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row row-sm">
                    <!--<div class="col-sm-12 col-xl-4 col-lg-12 col-md-12">
                        <div class="card ">
                            <div class="card-body">
                                <div class="counter-status d-flex md-mb-0">
                                    <div class="counter-icon bg-primary-transparent">
                                        <i class="icon-layers text-primary"></i>
                                    </div>
                                    <div class="mr-auto">
                                        <h5 class="tx-13">سفارشات</h5>
                                        <h2 class="mb-0 tx-22 mb-1 mt-1">1،587</h2>-->
                    @*<p class="text-muted mb-0 tx-11"><i class="si si-arrow-up-circle text-success mr-1"></i> افزایش دادن </p>*@
                    <!--</div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="col-sm-12 col-xl-4 col-lg-12 col-md-12">
                        <div class="card ">
                            <div class="card-body">
                                <div class="counter-status d-flex md-mb-0">
                                    <div class="counter-icon bg-danger-transparent">
                                        <i class="icon-paypal text-danger"></i>
                                    </div>
                                    <div class="mr-auto">
                                        <h5 class="tx-13">موجودی مشتری</h5>
                                        <h2 class="mb-0 tx-22 mb-1 mt-1">@Model.WaletPrice</h2>
                                        @*<p class="text-muted mb-0 tx-11"><i class="si si-arrow-up-circle text-success mr-1"></i> افزایش دادن </p>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-4 col-lg-12 col-md-12">
                        <div class="card ">
                            <div class="card-body">
                                <div class="counter-status d-flex md-mb-0">
                                    <div class="counter-icon bg-success-transparent">
                                        <i class="icon-rocket text-success"></i>
                                    </div>
                                    <div class="mr-auto">
                                        <h5 class="tx-13">ایجاد اشتراک</h5>
                                        <h2 class="mb-0 tx-22 mb-1 mt-1">@Model.RegisterDateStr</h2>
                                        <p class="text-muted mb-0 tx-11"><i class="si si-arrow-up-circle text-success mr-1"></i>  @Model.RegisterTypeStr </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="tabs-menu ">
                            <!-- Tabs -->
                            <ul class="nav nav-tabs profile navtab-custom panel-tabs">
                                <li class="active">
                                    <a href="#CustomerProfile" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="las la-user-circle tx-16 mr-1"></i></span> <span class="hidden-xs">مشخصات تکمیلی</span> </a>
                                </li>
                                <li class="">
                                    <a href="#Phones" data-toggle="tab" aria-expanded="false" onclick="ShowPhones('@Model.Id')"> <span class="visible-xs"><i class="las la-images tx-15 mr-1"></i></span> <span class="hidden-xs">تلفن</span> </a>
                                </li>
                                <li class="">
                                    <a href="#Addresses" data-toggle="tab" aria-expanded="false" onclick="ShowAddress('@Model.Id')"> <span class="visible-xs"><i class="las la-cog tx-16 mr-1"></i></span> <span class="hidden-xs">آدرس</span> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content border-left border-bottom border-right border-top-0 p-4">
                            <div class="tab-pane active" id="CustomerProfile">
                                <div class="row row-sm">
                                    <div class="m-t-30 col-lg-6">
                                        <div class=" p-t-10">
                                            <p class="row">
                                                <h5 class="text-primary m-b-5 tx-14">تحصیلات: </h5>@Model.EducationStr
                                            </p>
                                            <hr>
                                            <p class="row">
                                                <h5 class="text-primary m-b-5 tx-14">شغل: </h5>@Model.JobStr
                                            </p>
                                            <hr>
                                            <p class="row">
                                                <h5 class="text-primary m-b-5 tx-14">گروه مشتری: </h5> @Model.CustomerGroupStr
                                            </p>
                                        </div>
                                    </div>
                                    <div class="m-t-30 col-lg-6">
                                        <div class=" p-t-10">
                                            <p class="row">
                                                <h5 class="text-primary m-b-5 tx-14">سیستم ثبت نام: </h5>@Model.RegisterTypeStr
                                            </p>
                                            <hr>
                                            <p class="row">
                                                <h5 class="text-primary m-b-5 tx-14">نوع مشتری: </h5>@Model.CustomerTypeStr
                                            </p>
                                            <hr>
                                            <p class="row">
                                                <h5 class="text-primary m-b-5 tx-14">وضعیت: </h5>@Model.StatusStr
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="Phones">
                                @*<div >
                                        @{
                                            await Html.RenderPartialAsync("CustomerPhonePartialView", Model.GetCustomerPhones);
                                        }
                                    </div>*@
                            </div>
                            <div class="tab-pane" id="Addresses">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h6 class="text-danger">مورد جستجو پیدا نشد</h6>
    }


<script>
    function ShowPhones(id) {
        var postData = {
            'customerId': id,
        };

        var elem = '#Phones';

        $.ajax(
            {
                url: '/CallCenter/CustomerPhone/PartialGetAllView',
                type: 'post',
                data: postData,
                beforeSend: function () {
                    showBehsamLoading();
                },
                success: function (result, status, err) {
                    $(elem).html(result);
                },
                error: function (request, status, error) {
                    console.log(request);
                },
                complete: function () {
                    hideBehsamLoading();
                }
            });
    }

    function ShowAddress(id) {
        var postData = {
            'customerId': id,
        };
        var elem = '#Addresses';

        $.ajax(
            {
                url: '/CallCenter/CustomerAddress/PartialGetAllViewRegister',
                type: 'post',
                data: postData,
                beforeSend: function () {
                    showBehsamLoading();
                },
                success: function (result, status, err) {
                    $(elem).html(result);
                },
                error: function (request, status, error) {
                    console.log(request);
                },
                complete: function () {
                    hideBehsamLoading();
                }
            });
    }
</script>
 