@model List<BehsamFramework.Models.OrderItemsReserveModel>
@{
    Layout = null;
}
<div class="container">
    <div class="table-responsive">
        @if (Model != null && Model.Count > 0)
        {
            <table class="table mb-0">
                <thead>
                    <tr>
                        <td>#</td>
                        <td></td>
                        <td>بارکد</td>
                        <td>نام محصول</td>
                        <td>نام برند</td>
                        <td>نام دسته بندی</td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var item = Model[i];
                        <tr>
                            <td>@(i+1)</td>
                            <td></td>
                            <td>@item.ProductCode</td>
                            <td>@item.DisplayName</td>
                            <td>@item.BrandName</td>
                            <td>@item.CategoryName</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="text-danger">اطلاعات یافت نشد</p>
        }
    </div>
</div>
