@{
    Layout = null;
}

@model List<WebSites.Panles.Models.Reports.GetSummeryOrderStatusByDate>
@using BehsamFramework.Util;
@using BehsamFramework.Utility;
@using System.Globalization;

<input type="hidden" value="@ViewBag.StartDate" id="txtStartDate" />
<input type="hidden" value="@ViewBag.EndDate" id="txtEndDate" />
<input type="hidden" value="@ViewBag.StoreId" id="txtStoreId" />


<div class="card ">
    <div class="card-body">
        @if (Model != null && Model.Count > 0)
        {
            <div class="table-responsive" tabindex="1" style="overflow:auto; outline: none;">
                <table class="table table-striped table-hover mg-b-0 text-md-nowrap">
                    <thead>
                        <tr>
                            <th rowspan="1" colspan="1">شعبه</th>
                            <th rowspan="1" colspan="1">تاریخ</th>
                            <th rowspan="1" colspan="1">وضعیت</th>
                            <th rowspan="1" colspan="1">تعداد</th>
                            <th rowspan="1" colspan="1">جمع کل</th>
                            <th rowspan="1" colspan="1">عملیات</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                            var count = item.OrderCount.ToString("#,#") ?? "0";
                            <tr role="row">
                                <td>@item.StoreName</td>
                                <td>@item.OrderDate.ToPersianDate()</td>
                                <td>@item.OrderStatusStr</td>
                                <td>@count</td>
                                <td>@item.FinalPrice.ToString("#,#")</td>
                                <td>
                                    <a href="/CallCenter/Report/GetSummeryOrderStatusDetailsByDate?StoreId=@item.StoreId.ToString(CultureInfo.InvariantCulture)&StartDate=@item.OrderDate.ToPersianDate()&EndDate=@item.OrderDate.ToPersianDate()&status=@item.OrderStatus" class="d-inline"
                                       data-toggle="tooltip" data-placement="bottom" title="نمایش جزئیات">
                                        <i class="fa fa-credit-card  text-danger" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h6 class="text-danger">اطلاعات برای نمایش وجود ندارد</h6>
        }
    </div>
</div>


