@model BehsamFramework.Models.ProductsModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, LazZiya.TagHelpers
@using System.Globalization;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    int PageNumber = 1;
    int PageSize = 20;
    int.TryParse(Context.Request.Query["page"], out PageNumber);
    int.TryParse(Context.Request.Query["pagesize"], out PageSize);
    if(PageNumber<=0)
    {
        PageNumber = 1;
    }

}

<div class="card ">
    <div class="card-body">
        <h6 class="card-title ">
            @*<span class="fa fa-tab"></span>*@
            لیست محصولات
        </h6>

        <br />
        <form action="/Admin/Product/Index" method="get" class="form-search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="جستجو" name="searchkey">
                <div class="input-group-append">
                    <button class="btn btn-light" type="submit">
                        <i class="ti-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <br />
        <div class="table-responsive" tabindex="1" style="overflow:auto; outline: none;">
            <table class="table table-striped table-hover mg-b-0 text-md-nowrap">
                <thead>
                    <tr>
                        <th rowspan="1" colspan="1">#</th>
                        <th rowspan="1" colspan="1">نام محصول</th>
                        <th rowspan="1" colspan="1">نام نمایش</th>
                        <th rowspan="1" colspan="1">نام برند</th>
                        <th rowspan="1" colspan="1">نام دسته بندی</th>
                        <th rowspan="1" colspan="1">مبلغ</th>
                        <th rowspan="1" colspan="1">مالیات</th>
                        <th rowspan="1" colspan="1">وضعیت</th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null && Model.Products != null)
                    {
                        var row = ((PageNumber<=0?1: PageNumber) - 1) * (PageSize == 0 ? 20 : PageSize) + 1;


                        @foreach (var pro in Model.Products)
                        {
                            <tr role="row">
                                <td>@row </td>
                                <td>@pro.ProductName</td>
                                <td>@pro.DisplayName</td>
                                <td>@pro.BrandName</td>
                                <td>@pro.CategoryName</td>
                                <td>@pro.UnitPrice.ToString("#,#")</td>
                                <td>@pro.TaxPrice.ToString("#,#")</td>
                                <td>
                                    @if (pro.Status == 0)
                                    {
                                        <span>غیرفعال</span>
                                    }
                                    else if (pro.Status == 1)
                                    {
                                        <span>فعال</span>
                                    }
                                    else
                                    {
                                        <span>نامشخص</span>
                                    }
                                </td>
                                @*<td>
                                        <a href="/Admin/Store/StoreInActive?storeId=@store.StoreCode.ToString(CultureInfo.InvariantCulture)" class="d-inline"
                                           data-toggle="tooltip" data-placement="bottom" title="ثبت تعطیلی">
                                            <i class="fa fa-credit-card  text-danger" aria-hidden="true"></i>
                                        </a>

                                    </td>*@
                            </tr>

                            row++;
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="pagination pagination-rounded float-left">
            <nav aria-label="Page navigation example" class="mb-3">
                <paging total-records="@Model.RowCount.ToInt()"
                        page-no="@PageNumber==0?1:PageNumber"
                        page-size="@PageSize==0?20:PageSize"
                        show-prev-next="true"
                        show-total-pages="false"
                        show-total-records="false"
                        show-page-size-nav="false"
                        show-first-numbered-page="true"
                        show-last-numbered-page="true"
                        query-string-key-page-no="page"
                        query-string-key-page-size="pagesize"
                        query-string-value="@@(Request.QueryString.Value)"
                        gap-size="2">
                </paging>
            </nav>

        </div>
    </div>
</div>

