@{
    Layout = null;
}

@model Models.Order.CachedOrderInfo
@using BehsamFramework.Util;

<input type="hidden" value="@ViewBag.CustomerId" id="txtCustomerId" />
<input type="hidden" value="@ViewBag.StoreId.ToString(CultureInfo.InvariantCulture)" id="txtStoreId" />

<div class="container cart-xs cart-sm cart-md cart-lg cart-xl" id="divShowInvoice">
    @if (Model != null && Model.Items != null && Model.Items.Count > 0)
    {

        <div class="row">
            <div class="col-xl-12 col-md-12 cart-xs cart-sm cart-md cart-lg cart-xl">
                <div class="card" id="invoiceDetails">
                    <div class="float-left m-2 ">
                        <br />
                        <h6>شماره فاکتور : @Model.OrderCode</h6>
                        <h6>تاریخ فاکتور : @Model.OrderDate</h6>
                        <h6>تاریخ تحویل : @Model.StartTime - @Model.EndTime</h6>
                    </div>
                    <hr />
                    <div class="card-body">
                        <!-- Shopping Cart-->
                        <div class="product-details table-responsive text-nowrap">

                            <table class="table table-bordered table-hover mb-0 text-nowrap">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="text-right">محصول</th>
                                        <th class="w-150">تعداد</th>
                                        <th>فی</th>
                                        <th>تخفیف</th>
                                        <th>جمع</th>
                                        <th><a class="btn btn-sm btn-outline-danger" href="#">سبد خرید را پاک کنید</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Items != null && Model.Items.Count > 0)
                                    {
                                        @for (int i = 0; i < Model.Items.Count; i++)
                                        {
                                            var item = Model.Items[i];
                                            int sum = (item.UnitPrice * item.Quantity) - item.DiscountPrice;
                                            string txtName = "ProductCount" + item.ProductId;
                                            <tr>
                                                <td>@(i+1)</td>
                                                <td>
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <div class="card-item-desc mt-0">
                                                                <h6 class="font-weight-semibold mt-0 text-uppercase">@item.ProductName</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    @(item.Quantity.ToString("#,##0"))
                                                </td>
                                                <td class="text-center text-lg text-medium">@item.UnitPrice.ToString("#,##0")</td>
                                                <td class="text-center text-lg text-medium">@item.DiscountPrice.ToString("#,##0")</td>
                                                <td class="text-center text-lg text-medium">@sum.ToString("#,##0")</td>
                                                <td class="text-center">
                                                    <a class="remove-from-cart" href="#" onclick="delProduct('@item.ProductId','@item.Quantity')" data-toggle="tooltip" title="" data-original-title="حذف محصول">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }


                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">جمع کل</td>
                                        <td colspan="4">@Model.TotalPrice.ToString("#,##0")</td>

                                    </tr>
                                    <tr>
                                        <td colspan="2">مالیات</td>
                                        <td colspan="4">@Model.TaxPrice.ToString("#,##0")</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">تخفیف</td>
                                        <td colspan="4">@Model.DiscountPrice.ToString("#,##0")</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">کرایه</td>
                                        <td colspan="4">@Model.ShippingPrice.ToString("#,##0")</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">جمع فاکتور</td>
                                        <td colspan="4">@Model.FinalPrice.ToString("#,##0")</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-md-12">
                <a class="btn btn-info m-2" href="/CallCenter/Order/RegisterOrderContinue?customerId=@ViewBag.CustomerId&storeId=@ViewBag.StoreId.ToString(CultureInfo.InvariantCulture)">ادامه خرید</a>
                @*<a class="btn btn-info m-2" href="@Context.Request.Headers["Referer"].ToString()">ادامه خرید</a>*@
                <a class="btn btn-success m-2" onclick="RegisterOrderFinal('@ViewBag.StoreId.ToString(CultureInfo.InvariantCulture)','@ViewBag.CustomerId')">تایید و ثبت سفارش</a>
            </div>
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-body">
                <div>
                    <h6>اطلاعات فاکتور در دسترس نمی باشد</h6>
                </div>
                <a class="btn btn-info m-2" href="/CallCenter/Order/RegisterOrderContinue?customerId=@ViewBag.CustomerId&storeId=@ViewBag.StoreId.ToString(CultureInfo.InvariantCulture)">برگشت</a>
            </div>
        </div>
    }
</div>

<script src="~/js/CallCenter/Order/show_cat_and_subcat.js"></script>
<script>
    function delProduct(pid, count) {

        let storeId = $('#txtStoreId').val();
        let cid = $('#txtCustomerId').val();

        delCart(storeId, cid, pid, count);

        $('#divShowInvoice').html('');

        var postData = {
            'storeId': storeId,
            'customerId': cid
        };

        $.ajax(
            {
                url: '/CallCenter/Order/ShowInvoice',
                type: 'post',
                data: postData,
                beforeSend: function () {
                    showBehsamLoading();
                },
                success: function (result, status, err) {
                    $('#divShowInvoice').html(result);
                },
                error: function (request, status, error) {
                    console.log(request);
                },
                complete: function () {
                    hideBehsamLoading();
                }
            });
    }

    function RegisterOrderFinal(sid, cid) {
        var postData = {
            'storeId': sid,
            'customerId': cid
        };

        $.ajax(
            {
                url: '/CallCenter/Order/RegisterOrderFinal',
                type: 'post',
                data: postData,
                beforeSend: function () {
                    showBehsamLoading();
                },
                success: function (res, status, err) {
                    if (res.isSuccess == true) {

                        swal.fire(
                            'موفق!',
                            'شماره سفارش: ' + res.code + ' با موفقیت ثبت شد ',
                            'success'
                        ).then(function (isConfirm) {
                            location.replace('/CallCenter/Home/index');
                        });

                    } else {
                        swal.fire(
                            'هشدار!',
                            res.message,
                            'warning'
                        );
                    }
                },
                error: function (request, status, error) {
                    swal.fire(
                        'هشدار!',
                        request.responseText + '-' + status.responseText + '-' + error.responseText,
                        'warning'
                    );
                },
                complete: function () {
                    hideBehsamLoading();
                }
            });
    }
</script>

