@{
    Layout = null;
    var count = Model?.Items?.Select(p => p.Quantity).Sum().ToString("#,#");
    if (count == null || string.IsNullOrEmpty(count))
    {
        count = "0";
    }
}

@model Models.Order.CachedOrderInfo;
@using System.Globalization;



<div class="p-3 text-center" >
    <h6 class="m-b-0">سبد خرید</h6>
    <small class="font-size-13 opacity-7" id="CartCountR">@count</small><small class="font-size-13 opacity-7"> عدد کالا </small>
</div>
<div class="p-5">
    <div class="list-group-item d-flex justify-content-between align-items-center">
        <span>لیست اقلام رزرو شده</span>
    </div>
    <ul class="list-group">
        @if (Model?.Items?.Count > 0)
        {
            <div class="table-responsive w-100">
                <table class="table table-striped">
                    @for (int i = 0; i < Model.Items.Count; i++)
                    {
                        var item = Model.Items[i];
                        <tr>
                            <td>@(i+1)</td>
                            <td>@(item.ProductName)</td>
                            <td>@(item.Quantity.ToString("#,##0"))</td>
                            <td><span class="text-danger" style="cursor: pointer;" onclick="delCart('@Model.StoreID.ToString(CultureInfo.InvariantCulture)','@Model.CustomerId','@item.ProductId','@item.Quantity')"><i class="ti-close"></i></span></td>
                        </tr>
                    }
                </table>
            </div>
        }
    </ul>

</div>

<div class="p-3">
    @if (Model != null && Model.Items != null && Model.Items.Count > 0)
    {
        <button class="btn btn-success btn-block" href="#" onclick="ShowInvoice()" id="btnComplate">تکمیل فرآیند</button>
    }
</div>