@{
    Layout = "~/Areas/CallCenter/Views/Shared/_Layout.cshtml";
}
@model Models.Order.CachedOrderInfo
@using BehsamFramework.Util; 

<input type="hidden" value="@ViewBag.CustomerId" id="CustomerId" />
<input type="hidden" value="@ViewBag.StoreId" id="txtStoreId" />

@if (Model != null)
{

    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card" id="invoiceDetails">
                <div class="float-left m-2 ">
                    <br />
                    <h6>شماره فاکتور : @Model.OrderCode</h6>
                    <h6>تاریخ فاکتور : @Model.OrderDate</h6>
                    <h6>تاریخ تحویل : @Model.StartTime - @Model.EndTime</h6>
                </div>
                <hr />
                <div class="card-body">
                    <!-- Shopping Cart-->
                    <div class="product-details table-responsive text-nowrap">

                        <table class="table table-bordered table-hover mb-0 text-nowrap">
                            <thead>
                                <tr>
                                    <th class="text-right">محصول</th>
                                    <th class="w-150">تعداد</th>
                                    <th>قی</th>
                                    <th>تخفیف</th>
                                    <th>جمع</th>
                                    <th><a class="btn btn-sm btn-outline-danger" href="#">سبد خرید را پاک کنید</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Items != null && Model.Items.Count > 0)
                                {
                                    @foreach (var item in Model.Items)
                                    {
                                        int sum = (item.UnitPrice * item.Quantity) - item.DiscountPrice;
                                        string txtName = "ProductCount" + item.ProductId;
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    <div class="media-body">
                                                        <div class="card-item-desc mt-0">
                                                            <h6 class="font-weight-semibold mt-0 text-uppercase">@item.ProductName</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label class="control-label">@item.Quantity</label>
                                                </div>
                                            </td>
                                            <td class="text-center text-lg text-medium">@item.UnitPrice.ToString("#,#")</td>
                                            <td class="text-center text-lg text-medium">@item.DiscountPrice.ToString("#,#")</td>
                                            <td class="text-center text-lg text-medium">@sum.ToString("#,#")</td>
                                            <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="حذف محصول"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                    }
                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">جمع کل</td>
                                    <td colspan="4">@Model.TotalPrice.ToString("#,#")</td>
                                    
                                </tr>
                                <tr>
                                    <td colspan="2">مالیات</td>
                                    <td colspan="4">@Model.TaxPrice.ToString("#,#")</td>
                                </tr>
                                <tr>
                                    <td colspan="2">تخفیف</td>
                                    <td colspan="4">@Model.DiscountPrice.ToString("#,#")</td>
                                </tr>
                                <tr>
                                    <td colspan="2">کرایه</td>
                                    <td colspan="4">@Model.ShippingPrice.ToString("#,#")</td>
                                </tr>
                                <tr>
                                    <td colspan="2">جمع فاکتور</td>
                                    <td colspan="4">@Model.FinalPrice.ToString("#,#")</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>
        <h6>اطلاعات فاکتور در دسترس نمی باشد</h6>
    </div>
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            showCartDetails();
        });
    </script>
}


<!--<div class="row">
    <div class="col-xl-12 col-md-12">
        <div class="card">
            <div class="card-body">-->
<!-- Shopping Cart-->
<!--<div class="product-details table-responsive text-nowrap">
                    <table class="table table-bordered table-hover mb-0 text-nowrap">
                        <thead>
                            <tr>
                                <th class="text-right">تولید - محصول</th>
                                <th class="w-150">تعداد</th>
                                <th>زیرمجموعه</th>
                                <th>تخفیف</th>
                                <th><a class="btn btn-sm btn-outline-danger" href="#">سبد خرید را پاک کنید</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="card-aside-img">
                                            <img src="assets/img/ecommerce/01.jpg" alt="img" class="h-60 w-60">
                                        </div>
                                        <div class="media-body">
                                            <div class="card-item-desc mt-0">
                                                <h6 class="font-weight-semibold mt-0 text-uppercase">گلدان</h6>
                                                <dl class="card-item-desc-1">
                                                    <dt>اندازه: </dt>
                                                    <dd>بزرگ</dd>
                                                </dl>
                                                <dl class="card-item-desc-1">
                                                    <dt>رنگ: </dt>
                                                    <dd>رنگ سبز و سیاه</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <select name="quantity" id="select-countries" class="form-control custom-select select2">
                                            <option value="1" selected="">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center text-lg text-medium">79090 تومان</td>
                                <td class="text-center text-lg text-medium">35000 تومان</td>
                                <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="حذف محصول"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="card-aside-img">
                                            <img src="assets/img/ecommerce/06.jpg" alt="img" class="h-60 w-60">
                                        </div>
                                        <div class="media-body">
                                            <div class="card-item-desc mt-0">
                                                <h6 class="font-weight-semibold mt-0 text-uppercase">کیف دانشکده</h6>
                                                <dl class="card-item-desc-1">
                                                    <dt>اندازه: </dt>
                                                    <dd>متوسط</dd>
                                                </dl>
                                                <dl class="card-item-desc-1">
                                                    <dt>رنگ: </dt>
                                                    <dd>رنگ سیاه</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <select name="quantity" id="select-countries1" class="form-control custom-select select2">
                                            <option value="1" selected="">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center text-lg text-medium">79090 تومان</td>
                                <td class="text-center text-lg text-medium">35000 تومان</td>
                                <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="حذف محصول"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="card-aside-img">
                                            <img src="assets/img/ecommerce/08.jpg" alt="img" class="h-60 w-60">
                                        </div>
                                        <div class="media-body">
                                            <div class="card-item-desc mt-0">
                                                <h6 class="font-weight-semibold mt-0 text-uppercase">ساعت هوشمند</h6>
                                                <dl class="card-item-desc-1">
                                                    <dt>اندازه: </dt>
                                                    <dd>متوسط</dd>
                                                </dl>
                                                <dl class="card-item-desc-1">
                                                    <dt>رنگ: </dt>
                                                    <dd>مشکی</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <select name="quantity" id="select-countries2" class="form-control custom-select select2">
                                            <option value="1" selected="">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center text-lg text-medium">79090 تومان</td>
                                <td class="text-center text-lg text-medium">35000 تومان</td>
                                <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="حذف محصول"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="card-aside-img">
                                            <img src="assets/img/ecommerce/02.jpg" alt="img" class="h-60 w-60">
                                        </div>
                                        <div class="media-body">
                                            <div class="card-item-desc mt-0">
                                                <h6 class="font-weight-semibold mt-0 text-uppercase">صندلی</h6>
                                                <dl class="card-item-desc-1">
                                                    <dt>اندازه: </dt>
                                                    <dd>11-12 اینچ</dd>
                                                </dl>
                                                <dl class="card-item-desc-1">
                                                    <dt>رنگ: </dt>
                                                    <dd> خاکستری روشن</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <select name="quantity" id="select-countries3" class="form-control custom-select select2">
                                            <option value="1" selected="">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center text-lg text-medium">79000 تومان</td>
                                <td class="text-center text-lg text-medium">35000 تومان</td>
                                <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="حذف محصول"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="shopping-cart-footer  border-top-0">
                    <div class="column">
                        <form class="coupon-form" method="post">
                            <input class="form-control" type="text" placeholder="کد تخفیف" required="">
                            <button class="btn btn-outline-primary" type="submit"> ارسال کد</button>
                        </form>
                    </div>
                    <div class="column text-lg">جمع کل: <span class="tx-20 font-weight-bold mr-2">112000 تومان</span></div>
                </div>
                <div class="shopping-cart-footer">
                    <div class="column">
                        <a class="btn btn-primary" href="#" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Your cart" data-toast-message="is updated successfully!">ویرایش سبد خرید</a>
                        <a class="btn btn-success" href="#">پرداخت</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
