@using System.Globalization;
@{
    ViewData["Title"] = "ShowProductList";
    Layout = "~/Areas/CallCenter/Views/Shared/_Layout.cshtml";

}

<input type="hidden" value="@ViewBag.CustomerId?.ToString(CultureInfo.InvariantCulture)" id="CustomerId" />
<input type="hidden" value="@ViewBag.AddressId?.ToString(CultureInfo.InvariantCulture)" id="AddressId" />
<input type="hidden" value="@ViewBag.StartTime?.ToString("c",CultureInfo.InvariantCulture)" id="StartTime" />
<input type="hidden" value="@ViewBag.EndTime?.ToString("c",CultureInfo.InvariantCulture)" id="EndTime" />
<input type="hidden" value="@ViewBag.StoreId?.ToString(CultureInfo.InvariantCulture)" id="txtStoreId" />
<input type="hidden" id="CategoryId" />


<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12   overflow-auto" id="showCategory">

    </div>

    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="جستجو کردن ...">
                    <span class="input-group-append">
                        <button class="btn btn-primary" type="button">جستجو کردن</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row row-sm" id="ProductList">

        </div>
    </div>
</div>


@section Scripts
{
    <script>

        $(document).ready(function () {

            function ShowCat() {

                'use strict'
                $.ajax(
                    {
                        url: '/CallCenter/Order/GetCategory',
                        type: 'post',
                        data: {},
                        beforeSend: function () {
                            showBehsamLoading();
                        },
                        success: function (result, status, err) {
                            $('#showCategory').html(result);
                            
                        },
                        error: function (request, status, error) {
                            console.log(request);
                            
                        },
                        complete: function () {
                            hideBehsamLoading();
                        }
                    });
            }

            ShowCat();

            showCartDetails();
        });
    </script>
}
